# Игнорировать виртуальное окружение
venv/

# Игнорировать конфигурационные файлы с токенами
config/config.py

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы и папки, создаваемые IDE (например, PyCharm)
.idea/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать базу данных тикетов, если не хотите хранить ее в репозитории
tickets.json
