# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы и папки, создаваемые IDE (например, PyCharm)
.idea/
.vscode/

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo

# Игнорировать конфигурационные и хранилище
.env
tickets.json


# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать базу данных тикетов, если не хотите хранить ее в репозитории
tickets.json
